.containerForm {


    display: flex;
    justify-content: center;

}

.formItems {

    margin-top: 4em;

}

.submitStyle {

    width: 100%;
    background-color: gray !important;
    border: 1px solid black !important;
    transition: 1s !important;
}

.submitStyle:hover {

    transform: scale(1.2);
    color: white !important;
    font-weight: 900;
    border: 1px solid transparent !important;
    box-shadow: 1px 1px 1px 1px black;
}

.errorStyles {

    font-weight: 900;
    color: red;
    text-shadow: 2px 2px 2px black;
    position: fixed;
    bottom: 55%;
    right: 0%;
    text-align: center;
    width: 100%;
}

.errorIcon {

    width: 40px;
    position: relative;
    bottom: 0.2em;
}