.containerAll {



    margin-top: 1.5em;
  

}

.contentMessage {

  
    box-shadow: 0px 0px 4px 0px black;
    padding: 20px;
    width: 90%;
    margin-left: 1.5em;
    margin-bottom: 3em;
    margin-top: 3em;
    border-radius: 40px;


}

.containerForBorder {

    border: 1px solid black;
    border-radius: 2px !important;
    border-radius: 10px;
}

.feddbackStyle {
    padding-left: 0.5em;
    border-bottom: 2px solid black;
    background-color: rgb(249, 168, 18);

}

.messageStyle {

    font-style: italic;
    margin-top: 1em;
    font-weight: 400;
}

.dateStyle {

    margin-left: 1em;

}

.dateIconStyle {

    width: 40px;
    position: relative;
    bottom: 5px;
}


.userIconStyle {

    width: 30px;
    position: relative;
    bottom: 3px;
}



body::-webkit-scrollbar {
    width: 1em;
   
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px white;
    border-left: 1px solid black;
 
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: orange;
    outline: 1px solid slategrey;
    border-left: 1px solid black;
  }

  @media only screen and (width: 400px) {

    .responseBy {

        font-size: 20px !important;
      
    }

    .userIconStyle {

        width: 20px;

    }

    .dateIconStyle  {

        width: 30px;

    }

    .dateStyle {

        font-size: 18px !important;
        bottom: 57% !important;
       
    }
  }


  @media only screen and (width: 554px) {

    .responseBy {

        font-size: 30px !important;
      
    }

    .userIconStyle {

        width: 25px;

    }

    .dateIconStyle  {

        width: 35px;

    }

    .dateStyle {

        font-size: 30px !important;
        bottom: 57% !important;
        margin-left: 0em;
    }
  }


  @media only screen and (width: 320px) {

    .responseBy {

        font-size: 15px !important;
      
    }

    .userIconStyle {

        width: 25px;

    }

    .dateIconStyle  {

        width: 35px;

    }

    .dateStyle {

        font-size: 16px !important;
        bottom: 57% !important;
        margin-left: 0.5em;
    }

    .contentMessage {

        margin-left: 1em !important;

    }
  }

  @media only screen and (width: 375px) {

    .responseBy {

        font-size: 18px !important;
      
    }

    .userIconStyle {

        width: 25px;

    }

    .dateIconStyle  {

        width: 35px;

    }

    .dateStyle {

        font-size: 20px !important;
        bottom: 57% !important;
        margin-left: 0.5em;
    }

    .contentMessage {

        margin-left: 1em !important;

    }
  }

  @media only screen and (width: 425px) {

    .responseBy {

        font-size: 20px !important;
      
    }

    .userIconStyle {

        width: 25px;

    }

    .dateIconStyle  {

        width: 35px;

    }

    .dateStyle {

        font-size: 20px !important;
        bottom: 57% !important;
        margin-left: 1.4em;
    }

    .contentMessage {

        margin-left: 1em !important;

    }
  }